<p-card class="card">
<p-table #dt [columns]="cols" [value]="students" selectionMode="single" [(selection)]="selectedStudent"
 (onRowSelect)="onRowSelect($event)" [paginator]="true" [rows]="15" [reorderableColumns]="true" [rowsPerPageOptions]="[5,10,15,20]">
    <ng-template pTemplate="header" let-columns>
        <tr>
            <th *ngFor="let col of columns" [pSortableColumn]="col.field">
                {{col.header}}
                <p-sortIcon [field]="col.field"></p-sortIcon>
            </th>
        </tr>
        <tr>
            <th *ngFor="let col of columns" [ngSwitch]="col.field">
                <input *ngSwitchCase="'numer_indeksu'" pInputText type="text" (input)="dt.filter($event.target.value, col.field, 'contains')" class="full">
                <input *ngSwitchCase="'nazwisko'" pInputText type="text" (input)="dt.filter($event.target.value, col.field, 'contains')" class="full">
                <input *ngSwitchCase="'imie'" pInputText type="text" (input)="dt.filter($event.target.value, col.field, 'contains')" class="full">
                <p-multiSelect *ngSwitchCase="'semestr'" [options]="terms" defaultLabel="Wszystkie" (onChange)="dt.filter($event.value, col.field, 'in')" class="full"></p-multiSelect>
                <p-multiSelect *ngSwitchCase="'kierunek'" [options]="fields" defaultLabel="Wszystkie" (onChange)="dt.filter($event.value, col.field, 'in')" class="full"></p-multiSelect>
                <p-multiSelect *ngSwitchCase="'wydzial'" [options]="faculties" defaultLabel="Wszystkie" (onChange)="dt.filter($event.value, col.field, 'in')" class="full"></p-multiSelect>
            </th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-rowData let-columns="columns">
        <tr [pSelectableRow]="rowData">
            <td *ngFor="let col of columns">
                {{rowData[col.field]}}
            </td>
        </tr>
    </ng-template>
    <ng-template pTemplate="summary" let-rowData>
        <div style="text-align:left">
            <button type="button" pButton icon="pi pi-plus" (click)="showDialogToAdd()" label="Add"></button>
        </div>
    </ng-template>   
</p-table>
</p-card>

<p-dialog header="Informacje na temat studenta" [(visible)]="displayDialog" [focusOnShow]="false" [responsive]="true" showEffect="fade" [modal]="true"  [style]="{width: '400px'}">
    <div class="ui-g ui-fluid" *ngIf="student">
        <div class="ui-g-12">
            <div class="ui-g-4">
                <label for="numer_indeksu">Numer indeksu</label>
            </div>
            <div class="ui-g-8">
                {{student.numer_indeksu}}
            </div>
        </div>
        <div class="ui-g-12">
            <div class="ui-g-4">
                <label for="nazwisko">Nazwisko</label>
            </div>
            <div class="ui-g-8">
                <input class="full" pInputText id="nazwisko" [(ngModel)]="student.nazwisko" />
            </div>
        </div>
        <div class="ui-g-12">
            <div class="ui-g-4">
                <label for="imie">Imię</label>
            </div>
            <div class="ui-g-8">
                <input class="full" pInputText id="imie" [(ngModel)]="student.imie" />
            </div>
        </div>
        <div class="ui-g-12">
            <div class="ui-g-4">
                <label for="semestr">Semestr</label>
            </div>
            <div class="ui-g-8">
                <p-dropdown [options]="terms" [(ngModel)]="student.semestr"></p-dropdown>
            </div>
        </div>
        <div class="ui-g-12">
            <div class="ui-g-4">
                <label for="kierunek">Kierunek</label>
            </div>
            <div class="ui-g-8">
                <p-dropdown [options]="fields" [(ngModel)]="student.kierunek"></p-dropdown>
            </div>
        </div>
        <div class="ui-g-12">
            <div class="ui-g-4">
                <label for="wydzial">Wydział</label>
            </div>
            <div class="ui-g-8">
                {{student.wydzial}}
            </div>
        </div>
    </div>
    <p-footer>
        <div class="ui-dialog-buttonpane ui-helper-clearfix">
            <button type="button" pButton icon="pi pi-times" (click)="delete()" label="Delete" *ngIf="!newStudent"></button>
            <button type="button" pButton icon="pi pi-check" (click)="save()" label="Save"></button>
        </div>
    </p-footer>
</p-dialog>
